.img1 {
	width: 100%;
	height: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 cursor: pointer;
}

.mdv1 {
	background-image: url("../img/mdv1.jpg");
}

.mdv2 {
	background-image: url("../img/mdv2.jpg");
}

.mdv3 {
	background-image: url("../img/mdv3.jpg");
}

.mdv4 {
	background-image: url("../img/mdv4.jpg");
}

.sh1 {
	background-image: url("../img/sh1.jpg");
}

.sh2 {
	background-image: url("../img/sh2.jpg");
}

.sh3 {
	background-image: url("../img/sh3.jpg");
}

.sh4 {
	background-image: url("../img/sh4.jpg");
}


.navbar-brand {
	padding-left: 0px;
}